.App {
  display: flex;
  height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidebar {
  width: 200px;
  height: 100vh;
}
.memoContainer {
  flex: 1;
  background-color: black;
}
.memoContainer_title {
  box-sizing: border-box;
  width: 100%;
  font-size: 2rem;
}
.memoContainer_content {
  width: 100%;
  box-sizing: border-box;
  font-size: 1.1rem;
  min-height: 600px;
}
